<div class="hero-unit">
    <h1>args-contract <br/>
        <small>Define contracts for arguments in javascript in flexible way ...</small>
    </h1>

</div>
<div class="page-header">
    <h2>Give it a try ...
        <small>by clicking on the links to change the value</small>
    </h2>
</div>
</div>
</div>
<div class="row step-row">
    <div class="span4 step-head">
        1. Change the Contract:
    </div>
    <div class="span8">
<pre>
function doSomething(...){
    argsContract(arguemnts, '<a xeditable href="javascript:;" id="contract-input" data-pk="1" data-type="textarea"
                                data-name="contract"
                                data-ng-model="contract" data-placement="right" data-placeholder="Required"
                                data-showbuttons="true"
                                data-original-title="Enter a contract" class="editable editable-click"
        >{{contract}}</a>');
}
</pre>
    </div>
</div>
<div class="steps">
    <div class="row step-row">
        <div class="span4 step-head">
            2. Change the Arguemnts:
        </div>
        <div class="span8">
 <pre>
doSomething(<a xeditable href="javascript:;" id="parameter-input" data-pk="1" data-type="textarea" data-name="parameter"
               data-ng-model="parameter" data-placement="right" data-placeholder="Required" data-showbuttons="true"
               data-original-title="Enter arguments" class="editable editable-click"
         >{{parameter}}</a>);
</pre>
        </div>

    </div>
    <div class="row step-row">
        <div class="span4 step-head">
            3. See the Result:
        </div>
        <div class="span8">
            <pre class="ignore-ws"><span class="result-valid" ng-show="error == null">Valid :)</span><span
                    class="result-invalid" ng-hide="error == null">{{ error }}</span></pre>
        </div>
    </div>
</div>
